/* dark mode */
.kitDocs{
    /* app */
    --app-bg:#18181A;
    --app-fb:#27282D;
    --blur-bg: #ebebeb7d;
    --header-color:#ffffff;
    --text-color:#a1a1aa;
    --border-color:#2D3035;
    --icon-color: #949494;
    --max-width:1400px;
    --shadow:rgba(0,0,0,5%);
    --main-color:#38bdf8;
    --second-color:#38bdf8;
    --error-bg: #cc7d7d;
    --error-color: #fff;
    /* search */
    --search-bg:#27282D;
    --search-color:#b3b3b3;
    /* nav */
    --nav-bg:#18181A;
    --nav-link-color:#d8dade;
    --nav-link-hover-color:#272728;
    /* card */
    --card-bg:#27282D;
    --card-fb:#27282D;
    --card-header-color:#ffffff;
    --card-text-color:#a0a0a0;
    /* data label */
    --data-label-bg:#383838;
    --data-label-color:#cfcfcf;
    /* button */
    --button-bg: #38bdf8;
    --button-color:#fff;
    /* code */
    --code-bg:var(--app-fb);
    --code-text-color:var(--text-color);
    --code-line-added-bg:#4d8aac40;
    --code-line-removed-bg:#917a7a52;
}
/* light mode */
.kitDocs.light{
    /* app */
    --app-bg:#fff;
    --app-fb:#e6ebee;
    --blur-bg: #ebebeb7d;
    --header-color:#6f6f6f;
    --text-color:#7f7f7f;
    --border-color:#eeeeee;
    --icon-color: #2a2a2a;
    --shadow:rgba(0,0,0,5%);
    --main-color:#38bdf8;
    --second-color:#38bdf8;
    --error-bg: #cc7d7d;
    --error-color: #fff;
    /* search */
    --search-bg:#f9f9f9;
    --search-color:#7f7f7f;
    /* nav */
    --nav-bg:#18181A;
    --nav-link-color:#7f7f7f;
    --nav-link-hover-color:#f6f6f6;
    /* card */
    --card-bg:#27282D;
    --card-fb:#27282D;
    --card-header-color:#ffffff;
    --card-text-color:#a0a0a0;
    /* data label */
    --data-label-bg:#383838;
    --data-label-color:#cfcfcf;
    /* button */
    --button-bg: #38bdf8;
    --button-color:#fff;
    /* code */
    --code-bg:#f2f7fd;
    --code-text-color:#383838;
}